<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

<div class="error-content">

    <h1 style="text-align: center;">
        🔥 🧑🏻‍🚒 Sorry, we have a server error 🧑🏿‍🔧 🛠
    </h1>
    <a class="backlink" href="/">
        🤛🏽 <b>Please check again</b> 🤜🏽
    </a>

</div>

<style>
body {
    margin: 0;
    padding: 0;
    font-family: "Rubik","Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    background-color: #d09cf8;
    color: #23282d;
}
.error-content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
a.backlink {
    text-decoration: none;
    color: #23282d;
}
</style>