$lahma-pink: #d09cf8;
$black-color: #000;
$lahma-type: 'Rubik', "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

/* See tailwind.config.js
  theme: {
    screens: {
*/
$extralarge-width: 1920px;
$largescreen-width: 1280px;
$notebook-width: 1024px;
$tablet-width: 768px;
$mobile-width: 576px;
$small-width: 380px;
$extra-small-width: 330px;
