@import "_variables.scss";

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

*:hover {
  transition: 150ms linear;
}

html {
  overscroll-behavior: none;
  font-size: 16px;
  @media (min-width: 2160px) {
    font-size: 18px;
  }
  @media (min-width: 2400px) {
    font-size: 20px;
  }
  @media (min-width: 2640px) {
    font-size: 22px;
  }
  @media (min-width: 2880px) {
    font-size: 24px;
  }
  @media (min-width: 3120px) {
    font-size: 26px;
  }
  @media (min-width: 3360px) {
    font-size: 28px;
  }
  @media (min-width: 3600px) {
    font-size: 30px;
  }
  @media (min-width: 3840px) {
    font-size: 32px;
  }
}

body {
  font-family: $lahma-type;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  background-color: $lahma-pink !important;
  color: $black-color;
  overflow: overlay;
}

.container {
  width: 95%;
  @media (max-width: $mobile-width) {
    width: 90%;
  }
  @apply mx-auto;
}

h1,
.h1 {
  font-size: 3rem;
  @media (max-width: $mobile-width) {
    font-size: 2.4rem;
  }
  font-weight: 600;
  line-height: 1.2em;
}
h2,
.h2 {
  font-size: 2.5rem;
  @media (max-width: $mobile-width) {
    font-size: 2.1rem;
  }
  font-weight: 600;
  line-height: 1.2em;
  margin: 1rem 0;
}
h3,
.h3 {
  font-size: 2rem;
  @media (max-width: $mobile-width) {
    font-size: 1.8rem;
  }
  font-weight: 500;
  line-height: 1.2em;
  margin: 1rem 0;
}
h4,
.h4 {
  font-size: 1.5rem;
  @media (max-width: $mobile-width) {
    font-size: 1.3rem;
  }
  font-weight: 500;
  line-height: 1.4em;
}

h5,
.h5 {
  font-size: 1.25rem;
  @media (max-width: $mobile-width) {
    font-size: 1.2rem;
  }
  font-weight: 500;
  line-height: 1.4em;
}

b,
strong {
  font-weight: 600;
}

button:focus {
  outline: none;
}

.selector {
  .p-dropdown {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid $black-color;
    border-radius: 0;
    box-shadow: none;
    * {
      color: $black-color;
    }
    &.p-focus,
    &:hover {
      border-color: $black-color !important;
      box-shadow: none !important;
    }
    .p-dropdown-items {
      .p-dropdown-item.p-highlight {
        background: $lahma-pink;
        color: $black-color;
      }
    }
    .p-dropdown-label {
      padding-left: 0;
      &.p-placeholder {
        opacity: 0.5;
        color: inherit;
      }
    }
  }
}

.radios {
  .p-radiobutton {
    .p-radiobutton-box {
      border: 2px solid $black-color;
      background: transparent;
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
      &:not(.p-disabled):not(.p-highlight):hover {
        border-color: $black-color;
        background-color: white;
      }
      &.p-highlight {
        position: relative;
        opacity: 1;
        background: white;
        border-color: $black-color;
        &:before {
          border-radius: 100%;
          bottom: 0;
          content: "";
          left: 0;
          opacity: 1;
          position: absolute;
          right: 0;
          top: 0;
          transform: scale(0.5);
          transform-origin: center center;
          transition: inherit;
          z-index: 1;
          background: $black-color;
        }
        &:not(.p-disabled):hover {
          border-color: $black-color;
          background: white;
        }
      }
      &:not(.p-disabled).p-focus {
        border-color: $black-color;
        box-shadow: 0 0 0 0.3rem rgb(0 0 0 / 10%);
      }
    }
    .p-radiobutton-label {
      color: $black-color;
    }
  }
}

.text-content {
  p {
    margin-bottom: 0.5rem;
  }
  a {
    text-decoration: underline;
  }
  iframe {
    margin: 2rem 0;
  }
}

.description-text {
  a {
    text-decoration: underline;
  }
}

span.moresign {
  display: none;
}

.show-description {
  h1,
  h3 {
    margin-top: 0;
  }
}

.aspect-ratio-1\/1 {
  @include aspect-ratio(1, 1);
  height: unset;
  > * {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.image-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preload-block {
  background: url(@/assets/img/lahmacun-logo-dummy.png) no-repeat center center;
  background-size: contain;
}

@keyframes infiniterotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-element {
  animation: infiniterotate 6s linear infinite;
}

/* Modal anims */

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.1s ease-in;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  opacity: 1;
}

/* Scrollbar styling */

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $black-color;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 2rem;
}

.title-block {
  font-size: 2rem;
  @media (max-width: $mobile-width) {
    font-size: 1.8rem;
  }
  width: 100%;
  padding: 0.75rem;
  margin: 0;
  text-transform: uppercase;
  background: $black-color;
  color: white;
  font-weight: 500;
  text-align: center;
}

.tag-block {
  @apply bg-white mr-2 mb-2 px-3 py-1 inline-block whitespace-nowrap;
}

/* Donate Banner */

.donate-banner {
  background-color: $lahma-pink;
  color: black;
  @apply pl-4 py-6 flex items-center justify-center relative pr-10 gap-x-4 bg-opacity-50;

  .donate-banner-button {
    background-color: $yellow-color;
    @apply font-bold py-2 px-4 rounded uppercase;
  }
}
